body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    background-color: rgb(192, 230, 255);
}

.calculator {
    background: #C2185B;
    background-image: linear-gradient(to right, rgb(255, 0, 191) , yellow);
    height: 70vh;
    padding-top: 30px;
    border-radius: 10px;;
    width: 25vw;
    /*padding-right: 25px;*/
    padding-left: 25px;
    box-shadow: 0 10px 10px rgba(17, 1, 241, 0.2);
}

.btn {
    height: 75px;
    width: 75px;
    margin: 15px;
    font-size: 40px;
}

.number {
    border: 4px solid rgb(0, 189, 0);
    border-radius: 10px;
}

.number:hover {
    background-color: palegreen;
}

.operator {
    border: 4px solid steelblue;
    border-radius: 10px;
}

.operator:hover {
    background-color: paleturquoise;
}

.decimal {
    border: 4px solid gold;
    border-radius: 10px;
}

.decimal:hover {
    background-color: palegoldenrod;   
}

.equal {
    border: 4px solid pink;
    border-radius: 10px;
}

.equal:hover {
    background-color: plum;   
}

#clear-btn {
    border: 4px solid violet;
    border-radius: 10px;
}

#clear-btn:hover {
    background-color: palevioletred;   
}

.first-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    padding-right: 23px;
}

.first-row .other-rows {
    
    display: flex;
    gap: 5px;
}

#screen {
    width: 300px;
    border: 1px solid lightblue;
    height: 75px;
    margin: 15px;
    padding-right: 15px;
    background-color: lightblue;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.previous {
    font-size: 20px;
}

.current {
    font-size: 30px;   
}

